* {
  margin: 0;
  padding: 0;
  /* font-size: 100%; */
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}

header {
  background-color:rgb(25, 25, 25);
  color: whitesmoke;
  font-weight: 600;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  background-image: url('images/hero-image.jpg');
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  color: rgb(25, 25, 25);
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.7;
  padding: 0 10px;
  
}

a:hover {
  opacity: 1;
  font-weight: 700;
}

a:visited,  a:hover , a:active {
  color: inherit;
}
.hero h1{
  margin-bottom: 15px;
  font-size: 40px;
}

.hero h3{
  margin-bottom: 15px;
  font-size: 20px;
}



.btn{
  background-color: white;
  border-radius: 4px;
  color: #191c03;
  padding: 15px 30px;
  text-transform: uppercase;
  
}